In [44]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [28]:
df = pd.read_csv(r"D:\projects\ai_impact_on-_jobs\notebook\data\ai_impact_jobs_2010_2025.csv")

In [29]:
df.head()

                                 job_id  ...  industry_ai_adoption_stage
0  836b4774-702e-49ef-93d3-2f255ce1e910  ...                     Growing
1  43699e93-7b15-4728-a4c6-9e41ff438a25  ...                    Emerging
2  fc9d1854-3cbf-4bab-90df-77304dfc59df  ...                    Emerging
3  05c1c7d3-2add-4919-91eb-f6c78bfe23d1  ...                    Emerging
4  5e739937-d1b0-44d7-935c-7ebb3fc1f6e8  ...                    Emerging

[5 rows x 22 columns]

In [30]:
df["log_salary"] = np.log1p(df["salary_usd"])

In [31]:
df.shape

(5000, 23)

In [33]:
X = df.drop(columns=["salary_usd", "log_salary"], axis=1)

X.head()

                                 job_id  ...  industry_ai_adoption_stage
0  836b4774-702e-49ef-93d3-2f255ce1e910  ...                     Growing
1  43699e93-7b15-4728-a4c6-9e41ff438a25  ...                    Emerging
2  fc9d1854-3cbf-4bab-90df-77304dfc59df  ...                    Emerging
3  05c1c7d3-2add-4919-91eb-f6c78bfe23d1  ...                    Emerging
4  5e739937-d1b0-44d7-935c-7ebb3fc1f6e8  ...                    Emerging

[5 rows x 21 columns]

In [35]:
y = df["log_salary"]
y

0       11.028206
1       11.035631
2       10.204925
3       11.196775
4       10.954589
          ...
4995    10.629054
4996    10.521103
4997    11.310222
4998    11.588942
4999    10.484473
Name: log_salary, Length: 5000, dtype: float64

In [36]:
categorical_cols = X.select_dtypes(include=['object']).columns.to_list()
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns.to_list()

In [41]:
from scipy import sparse

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(
    handle_unknown="ignore",
    min_frequency=10,
    sparse_output=True
), categorical_cols)
    ]
)

X_transformed = preprocessor.fit_transform(X)

feature_names = preprocessor.get_feature_names_out()

X_transformed = pd.DataFrame(
    X_transformed.toarray() if hasattr(X_transformed, "toarray") else X_transformed,
    columns=feature_names
)

X_transformed

      num__posting_year  ...  cat__industry_ai_adoption_stage_Mature
0              0.103620  ...                                     0.0
1             -0.543196  ...                                     0.0
2             -0.327591  ...                                     0.0
3             -0.543196  ...                                     0.0
4             -0.758801  ...                                     0.0
...                 ...  ...                                     ...
4995           0.966041  ...                                     0.0
4996           0.103620  ...                                     0.0
4997           0.319225  ...                                     0.0
4998          -0.327591  ...                                     0.0
4999           1.397251  ...                                     1.0

[5000 rows x 172 columns]

In [42]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=42)

In [45]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 0.0862
- Mean Absolute Error: 0.0742
- R2 Score: 0.9741
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0892
- Mean Absolute Error: 0.0770
- R2 Score: 0.9736
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 0.5357
- Mean Absolute Error: 0.4463
- R2 Score: 0.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.5493
- Mean Absolute Error: 0.4619
- R2 Score: -0.0001
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 0.0862
- Mean Absolute Error: 0.0742
- R2 Score: 0.9741
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0892
- Mean Absolute Error: 0.0770
- R2 Score: 0.9736
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 0.2314
- Mean Absolute Error: 0.1722
- R2 Score: 0.8135
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.2884
- Mean Absolute Error: 0.2211
- R2 Score: 0.7243
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.1322
- Mean Absolute Error: 0.1085
- R2 Score: 0.9420
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 0.0343
- Mean Absolute Error: 0.0288
- R2 Score: 0.9959
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0959
- Mean Absolute Error: 0.0819
- R2 Score: 0.9695
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.0371
- Mean Absolute Error: 0.0292
- R2 Score: 0.9952
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0973
- Mean Absolute Error: 0.0822
- R2 Score: 0.9686
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 0.0554
- Mean Absolute Error: 0.0470
- R2 Score: 0.9893
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.0912
- Mean Absolute Error: 0.0782
- R2 Score: 0.9724
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 0.2227
- Mean Absolute Error: 0.1887
- R2 Score: 0.8272
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.2288
- Mean Absolute Error: 0.1958
- R2 Score: 0.8264
===================================

In [ ]:
# One-hot encoding initially caused dimensional explosion.
# I controlled it using infrequent category handling, feature selection, and model-aware encoding.
# Linear and tree-based models both validated the signal, with CatBoost offering the best balance of performance and robustness.